img, embed, object, video{
    max-width:100%;}
html,body{
    height:100%;
    width:100%;
    margin: 0; 
    padding: 0;
    background-color:rgb(206, 206, 212);
}
body{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: lighter;
}
.containerouter{
    width:100%;
    height:100%;
    position: relative;

}
.containerinner{
    background-color:rgb(206, 206, 211);
    padding-left:auto;
    height:100%;
    padding-right:auto;
    text-align: center;
    position: relative;
    box-shadow:5px 5px 15px grey;
}

.headings{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: lighter;
    font-size: 15px;
   text-align: center;
   z-index: 6;
   box-shadow:5px 5px 15px grey;
}
.headings p{
    font-size:14px;
}
.subheader{
    font-style: italic;
    font-size:10px;
    font-weight: lighter;   
}
.logo{
    text-align: left;
    position:absolute;    
    width:65px;
    height:65px;
}
.rowimg{  
    display: inline-block;
}
.rowimg p{
    z-index: 6;
    text-align: center;
}
#imga{
    max-width: 300px;
    max-height:auto;
    box-shadow:5px 5px 15px grey;
}
#imgb{
    order:1;
    max-width:140px;
    max-height:auto;
    padding-right:20px;
}

#imgc{
    order:2;
    max-width:140px;
    max-height:auto;
    padding-right:20px;
}

#imgd{
    order:3;
    max-width:140px;
    max-height:auto;
    padding-right:20px;
}
#imge{
    order:4;
    max-width:140px;
    max-height:auto;
    padding-right:20px;
}
#imgf{
    order:5;
    max-width:140px;
    max-height:auto;
    padding-right:20px;
}
.linktitle{
    color:rgb(85, 85, 85);
    font-style: italic;
    font-size:10px;
    font-weight: lighter;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
footer{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: lighter;
    font-size: 13px;
    text-align: center;}